<component name="libraryTable">
  <library name="Spring IDEA Plugin">
    <CLASSES>
      <root url="file://$IDEA_SDK$/plugins/Spring/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../tools/spring.src" />
    </SOURCES>
    <jarDirectory url="file://$IDEA_SDK$/plugins/Spring/lib" recursive="true" />
  </library>
</component>